.card {
  background-color: #292C3C;
  padding: 10px;

  .header {
    color: #e5c890;
    
  }
  .author {
    color: #a6d189;
  }

  .content {
    padding: 10px 0;
  }
  
  .subheader {
    color: #737994;
    border-bottom: 1px solid #15161f;
    padding-bottom: 10px;
  }

  .author {
    color: #a6d189;
  }

  .footer {
    border-top: 1px solid #15161f;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    color: #737994;
  }
}