.createPost {
  background-color: #303446;
  padding: 12px;
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.next {
  margin-top: 12px;
  width: 100px;
}